h3{
    font-size: 30px;
    text-decoration: overline;
}
.blog{
    margin:  20px;
    border: 3px solid tomato;
    padding: 7px;
    box-shadow: 10px 10px 10px rgba(47, 85, 255, 0.185);
}
.second{
    /* display: none; */
    /* visibility: hidden; */
}